.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
   
    border-bottom: 1px solid #ddd;
}

.breadcrumb {
    font-size: 18px;
    color: #ffffff;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-name {
    margin-right: 15px;
    font-size: 16px;
    color: #ffffff;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}
