.sidebar {
    width: 230px;
    color: #fff;
    height: 100vh;
    background: transparent;
    border-right: 1px solid #fff
}

.sidebar .logo {
    text-align: center;
    padding: 8px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.sidebar .logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar h2 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 8px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.sidebar ul li a:hover {
    background-color: #444;
}

.function{
    font-size: 24px;
}